---
http_interactions:
- request:
    method: put
    uri: https://api.hackerone.com/v1/reports/200/assignee
    body:
      encoding: UTF-8
      string: '{"data":{"type":"nobody"}}'
    headers:
      Authorization:
      - Basic c2pvcnM6cjNENlR0TDQrMDBMci9jTmxuaTF6cXFRVDZkbGx2c3F0RHVtTVlKZzNybz0=
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; pin-sha256="iie1VXtL7HzAMF+/PVPR9xzT80kQxdZeJ+zduCB3uj0=";
        pin-sha256="cGuxAXyFXFkWm61cF4HPWX8S0srS9j0aSqN0k4AP+4A="; pin-sha256="bIlWcjiKq1mftH/xd7Hw1JO77Cr+Gv+XYcGUQWwO+A4=";
        pin-sha256="tXD+dGAP8rGY4PW1be90cOYEwg7pZ4G+yPZmIZWPTSg="; max-age=600; includeSubDomains;
        report-uri="https://hackerone.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":403}]}'
  recorded_at: Tue, 23 May 2017 20:41:07 GMT
recorded_with: VCR 3.0.3
