---
http_interactions:
- request:
    method: put
    uri: https://api.hackerone.com/v1/reports/200/assignee
    body:
      encoding: UTF-8
      string: '{"data":{"type":"nobody"}}'
    headers:
      Authorization:
      - Basic nope
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83801be1113db7301d61bcb1c6fd45d2"
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; pin-sha256="iie1VXtL7HzAMF+/PVPR9xzT80kQxdZeJ+zduCB3uj0=";
        pin-sha256="cGuxAXyFXFkWm61cF4HPWX8S0srS9j0aSqN0k4AP+4A="; pin-sha256="bIlWcjiKq1mftH/xd7Hw1JO77Cr+Gv+XYcGUQWwO+A4=";
        pin-sha256="tXD+dGAP8rGY4PW1be90cOYEwg7pZ4G+yPZmIZWPTSg="; max-age=600; includeSubDomains;
        report-uri="https://hackerone.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"200","type":"report","attributes":{"title":"Serious
        stuff","state":"new","created_at":"2017-03-16T19:44:16.334Z","vulnerability_information":"plz
        fix","triaged_at":null,"closed_at":null,"last_reporter_activity_at":"2017-03-16T19:44:30.927Z","first_program_activity_at":"2017-03-16T19:44:16.385Z","last_program_activity_at":"2017-03-16T19:44:30.927Z","bounty_awarded_at":null,"swag_awarded_at":null,"disclosed_at":null,"last_public_activity_at":"2017-03-16T19:44:30.927Z","last_activity_at":"2017-05-15T20:25:30.334Z"},"relationships":{"reporter":{"data":{"id":"147515","type":"user","attributes":{"username":"hackhackhackhack","name":"hackhackhackhack","disabled":false,"created_at":"2017-03-04T16:31:33.595Z","profile_picture":{"62x62":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","82x82":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","110x110":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","260x260":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png"}}}},"program":{"data":{"id":"18969","type":"program","attributes":{"handle":"github","created_at":"2017-03-08T19:22:41.884Z","updated_at":"2017-04-09T08:15:15.228Z"}}},"severity":{"data":{"id":"31671","type":"severity","attributes":{"rating":"high","author_type":"User","user_id":147515,"created_at":"2017-03-16T19:44:16.371Z"}}},"swag":{"data":[]},"attachments":{"data":[]},"vulnerability_types":{"data":[{"id":"249255","type":"vulnerability-type","attributes":{"name":"Cross-Site
        Scripting (XSS)","description":"Failure of a site to validate, filter, or
        encode user input before returning it to another user''s web client.\n","created_at":"2017-03-08T19:22:43.582Z"}}]},"weakness":{"data":{"id":"60","type":"weakness","attributes":{"name":"Cross-site
        Scripting (XSS) - Generic","description":"The software does not neutralize
        or incorrectly neutralizes user-controllable input before it is placed in
        output that is used as a web page that is served to other users.","created_at":"2017-01-05T01:51:19.000Z"}}},"activities":{"data":[{"type":"activity-nobody-assigned-to-bug","id":"1675616","attributes":{"message":null,"created_at":"2017-05-15T20:25:30.334Z","updated_at":"2017-05-15T20:25:30.334Z","internal":true},"relationships":{"actor":{"data":{"type":"user","id":"160844","attributes":{"username":"esjee","name":null,"disabled":false,"created_at":"2017-04-20T19:25:29.165Z","profile_picture":{"62x62":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","82x82":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","110x110":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","260x260":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png"}}}}}},{"type":"activity-group-assigned-to-bug","id":"1675604","attributes":{"message":null,"created_at":"2017-05-15T20:21:26.628Z","updated_at":"2017-05-15T20:21:26.628Z","internal":true},"relationships":{"actor":{"data":{"type":"user","id":"160844","attributes":{"username":"esjee","name":null,"disabled":false,"created_at":"2017-04-20T19:25:29.165Z","profile_picture":{"62x62":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","82x82":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","110x110":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","260x260":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png"}}}},"group":{"data":{"id":"23578","type":"group","attributes":{"name":"Admin","created_at":"2017-03-08T19:22:43.243Z","permissions":["user_management","program_management"]}}}}},{"type":"activity-nobody-assigned-to-bug","id":"1675418","attributes":{"message":null,"created_at":"2017-05-15T19:16:39.244Z","updated_at":"2017-05-15T19:16:39.244Z","internal":true},"relationships":{"actor":{"data":{"type":"user","id":"160844","attributes":{"username":"esjee","name":null,"disabled":false,"created_at":"2017-04-20T19:25:29.165Z","profile_picture":{"62x62":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd[...]
