---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/programs/18969/common_responses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b1e2aa1721b777df242b64b310c51bb"
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; pin-sha256="iie1VXtL7HzAMF+/PVPR9xzT80kQxdZeJ+zduCB3uj0=";
        pin-sha256="cGuxAXyFXFkWm61cF4HPWX8S0srS9j0aSqN0k4AP+4A="; pin-sha256="bIlWcjiKq1mftH/xd7Hw1JO77Cr+Gv+XYcGUQWwO+A4=";
        pin-sha256="tXD+dGAP8rGY4PW1be90cOYEwg7pZ4G+yPZmIZWPTSg="; max-age=600; includeSubDomains;
        report-uri="https://hackerone.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"108878","attributes":{"title":"Vulnerability Scanner
        False Positive","message":"Automated vulnerability scanners commonly have
        low priority issues and/or false positives. Before submitting the results
        from a scanner, please take a moment to confirm that the reported issues are
        actually valid and exploitable. Please reply if you have a working proof-of-concept
        or reason to believe that this issue is exploitable.\n"}},{"id":"108879","attributes":{"title":"No
        Security Implications[...]
