---
http_interactions:
- request:
    method: post
    uri: https://api.hackerone.com/v1/reports
    body:
      encoding: UTF-8
      string: '{"data":{"type":"report","attributes":{"team_handle":"github","title":"hi","vulnerability_information":"hi","impact":"string","severity_rating":"invalid_severity","source":"api"}}}'
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":400,"title":"Invalid Parameter","detail":"The
        parameter ''severity_rating'' is invalid.","source":{"parameter":"severity_rating"}}]}'
  recorded_at: Wed, 06 May 2020 23:18:54 GMT
recorded_with: VCR 5.1.0
