---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/reports/200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Nope
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48d77e13622d03735f1a72ea94e8838a"
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; pin-sha256="iie1VXtL7HzAMF+/PVPR9xzT80kQxdZeJ+zduCB3uj0=";
        pin-sha256="cGuxAXyFXFkWm61cF4HPWX8S0srS9j0aSqN0k4AP+4A="; pin-sha256="bIlWcjiKq1mftH/xd7Hw1JO77Cr+Gv+XYcGUQWwO+A4=";
        pin-sha256="tXD+dGAP8rGY4PW1be90cOYEwg7pZ4G+yPZmIZWPTSg="; max-age=600; includeSubDomains;
        report-uri="https://hackerone.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"200\",\"type\":\"report\",\"attributes\":{\"title\":\"another
        attempt\",\"state\":\"triaged\",\"created_at\":\"2017-10-10T23:29:35.200Z\",\"vulnerability_information\":\"blehhh\",\"triaged_at\":\"2017-10-10T23:29:49.700Z\",\"closed_at\":null,\"last_reporter_activity_at\":\"2017-10-10T23:29:35.265Z\",\"first_program_activity_at\":\"2017-10-10T23:29:35.265Z\",\"last_program_activity_at\":\"2017-10-10T23:29:49.700Z\",\"bounty_awarded_at\":null,\"swag_awarded_at\":\"2017-10-10T23:30:28.501Z\",\"disclosed_at\":null,\"last_public_activity_at\":\"2017-10-10T23:30:28.501Z\",\"last_activity_at\":\"2017-10-10T23:30:28.501Z\",\"issue_tracker_reference_id\":\"reference\"},\"relationships\":{\"reporter\":{\"data\":{\"id\":\"57690\",\"type\":\"user\",\"attributes\":{\"username\":\"ndm-github\",\"name\":\"Neil
        Matatall\",\"disabled\":false,\"created_at\":\"2016-02-24T01:33:01.258Z\",\"profile_picture\":{\"62x62\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/1e0c9ef6fc8bcc17806ae82e6f73cdd4d0e74eb9_small.jpg?1469554487\",\"82x82\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/f6a17c40a6c910ba801014d1498b55727ea858e3_medium.jpg?1469554487\",\"110x110\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/2259dde15230756d99f68a9ca824af11081ab965_large.jpg?1469554487\",\"260x260\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/6d2da33805fef8b8ac4cf513e1562699e79365e0_xtralarge.jpg?1469554487\"}}}},\"assignee\":{\"data\":{\"type\":\"user\",\"id\":\"57690\",\"attributes\":{\"username\":\"ndm-github\",\"name\":\"Neil
        Matatall\",\"disabled\":false,\"created_at\":\"2016-02-24T01:33:01.258Z\",\"profile_picture\":{\"62x62\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/1e0c9ef6fc8bcc17806ae82e6f73cdd4d0e74eb9_small.jpg?1469554487\",\"82x82\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/f6a17c40a6c910ba801014d1498b55727ea858e3_medium.jpg?1469554487\",\"110x110\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/2259dde15230756d99f68a9ca824af11081ab965_large.jpg?1469554487\",\"260x260\":\"https://profile-photos.hackerone-user-content.com/production/000/057/690/6d2da33805fef8b8ac4cf513e1562699e79365e0_xtralarge.jpg?1469554487\"}}}},\"program\":{\"data\":{\"id\":\"11767\",\"type\":\"program\",\"attributes\":{\"handle\":\"github\",\"created_at\":\"2016-04-15T17:10:31.261Z\",\"updated_at\":\"2017-10-03T12:58:34.637Z\"}}},\"swag\":{\"data\":[{\"id\":\"2158\",\"type\":\"swag\",\"attributes\":{\"sent\":false,\"created_at\":\"2017-10-10T23:30:28.494Z\"},\"relationships\":{\"address\":{\"data\":{\"id\":\"235\",\"type\":\"address\",\"attributes\":{\"name\":\"neil
        matatall\",\"street\":\"\",\"city\":\"Kailua
        Kona\",\"postal_code\":\"96740\",\"state\":\"HI\",\"country\":\"USA\",\"created_at\":\"2016-04-15T02:34:17.252Z\",\"tshirt_size\":\"XLarge\",\"phone_number\":\"8082091148\"}}}}},{\"id\":\"2157\",\"type\":\"swag\",\"attributes\":{\"sent\":false,\"created_at\":\"2017-10-10T23:30:07.259Z\"},\"relationships\":{\"address\":{\"data\":{\"id\":\"235\",\"type\":\"address\",\"attributes\":{\"name\":\"neil
        matatall\",\"street\":\"\",\"city\":\"Kailua
        Kona\",\"postal_code\":\"96740\",\"state\":\"HI\",\"country\":\"USA\",\"created_at\":\"2016-04-15T02:34:17.252Z\",\"tshirt_size\":\"XLarge\",\"phone_number\":\"8082091148\"}}}}}]},\"attachments\":{\"data\":[]},\"activities\":{\"data\":[{\"type\":\"activity-swag-awarded\",\"id\":\"2057701\",\"attributes\":{\"message\":\"\",\"created_at\":\"2017-10-10T23:30:28.501Z\",\"updated_at\":\"2017-10-10T23:30:28.501Z\",\"internal\":false},\"relationships\":{\"actor\":{\"data\":{\"type\":\"program\",\"id\":\"11767\",\"attributes\":{\"handle\":\"github\",\"created_at\":\"2016-04-15T17:10:31.261Z\",\"updated_at\":\"2017-10-03T12:58:34.637Z\"}}},\"swag\":{\"data\":{\"id\":\"2158\",\"type\":\"swag\",\"attributes\":{\"sent\":false,\"created_at\":\"2017-10-10T23:30:28.494Z\"},\"relationships\":{\"address\":{\"data\":{\"id\":\"235\",\"type\":\"address\",\"attributes\":{\"name\":\"neil
        matatall\",\"street\":\"\",\"city\":\"Kailua
        Kona\",\"postal_code\[...]
- request:
    method: post
    uri: https://api.hackerone.com/v1/reports/200/state_changes
    body:
      encoding: UTF-8
      string: "{\"data\":{\"type\":\"state-change\",\"attributes\":{\"original_report_id\":\"302\",\"state\":\"duplicate\",\"message\":\"totally
        a dup\"}}}"
    headers:
      Authorization:
      - Basic Nope==
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4b760035f20d5c8f9e48569e0297d7f"
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/[...]
