---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/programs/18969/billing/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"623ba11e90acdaa5bfcf60eb7743af10"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1894","type":"program-balance","attributes":{"balance":"118386.40"}}}'
  recorded_at: Fri, 12 Feb 2021 20:37:48 GMT
recorded_with: VCR 3.0.3
