---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/me/programs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic nope
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9329ef6b8f370e76d96d71977a6480c4"
      Public-Key-Pins-Report-Only:
      - pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; pin-sha256="iie1VXtL7HzAMF+/PVPR9xzT80kQxdZeJ+zduCB3uj0=";
        pin-sha256="cGuxAXyFXFkWm61cF4HPWX8S0srS9j0aSqN0k4AP+4A="; pin-sha256="bIlWcjiKq1mftH/xd7Hw1JO77Cr+Gv+XYcGUQWwO+A4=";
        pin-sha256="tXD+dGAP8rGY4PW1be90cOYEwg7pZ4G+yPZmIZWPTSg="; max-age=600; includeSubDomains;
        report-uri="https://hackerone.report-uri.io/r/default/hpkp/reportOnly"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18969","type":"program","attributes":{"handle":"github","created_at":"2017-03-08T19:22:41.884Z","updated_at":"2017-04-09T08:15:15.228Z"}}],"links":{}}'
  recorded_at: Sun, 09 Apr 2017 09:10:40 GMT
recorded_with: VCR 3.0.3
