---
http_interactions:
- request:
    method: put
    uri: https://api.hackerone.com/v1/programs/18969/swag/3377
    body:
      encoding: UTF-8
      string: '{"data":{"type":"swag","attributes":{"sent":true}}}'
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e21cfa10ed9d144353542ef658979e8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"3377","type":"swag","attributes":{"sent":true,"created_at":"2018-12-13T04:06:32.994Z"},"relationships":{"user":{"data":{"id":"175595","type":"user","attributes":{"username":"anglinb_x0rsd","name":"Brian
        Anglin","disabled":false,"created_at":"2017-06-13T18:42:14.025Z","profile_picture":{"62x62":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","82x82":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","110x110":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png","260x260":"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png"},"signal":null,"impact":null,"reputation":null,"bio":null,"website":null,"location":null,"hackerone_triager":false}}},"address":{"data":{"id":"7374","type":"address","attributes":{"name":"Brian
        Anglin","street":" 88 Colin P Kelly Jr Street","city":"San Francisco","postal_code":"94107","state":"California","country":"United
        States","created_at":"2019-10-21T20:50:40.159Z","tshirt_size":"M_Medium","phone_number":"555-555-5555"}}}}}'
  recorded_at: Mon, 21 Oct 2019 22:00:10 GMT
recorded_with: VCR 3.0.3
