---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/incremental/activities?first=25&handle=github&updated_at_after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd2824639dd19b9d08e8a1c4692f556e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"activity-bug-filed","id":"1223485","attributes":{"message":"","created_at":"2016-09-29T12:53:30.516Z","updated_at":"2016-09-29T12:53:30.516Z","internal":false},"relationships":{"actor":{"data":{"type":"user","id":"3683","attributes":{"username":"demo-hacker","name":"Demo
        Hacker","disabled":false,"created_at":"2014-03-17T20:14:25.383Z","profile_picture":{"62x62":"https://profile-photos.hackerone-user-content.com/production/000/003/683/93c0f225152f8f18a396f325eca530143719a729_small.png?1423472503","82x82":"https://profile-photos.hackerone-user-content.com/production/000/003/683/d38d82a37a6ac1f2df43b0d36ad8ee8d0acd68d1_medium.png?1423472503","110x110":"https://profile-photos.hackerone-user-content.com/production/000/003/683/6793a1566a8c8ec72a179c63bbd92c1af965a162_large.png?1423472503","260x260":"https://profile-photos.hackerone-user-content.com/[...]
- request:
    method: get
    uri: https://api.hackerone.com/v1/incremental/activities?first=25&handle=github&updated_at_after=2017-12-04T15:38:00.017Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f057e5758c4dd46ef847c8a49303a160"
    body:[...]
- request:
    method: get
    uri: https://api.hackerone.com/v1/incremental/activities?first=25&handle=github&updated_at_after=2017-12-05T16:16:27.757Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79b5a37965df910984602c8925f27ef9"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"max_updated_at":null}}'
  recorded_at: Thu, 07 Dec 2017 11:20:44 GMT
recorded_with: VCR 3.0.3
