---
http_interactions:
- request:
    method: get
    uri: https://api.hackerone.com/v1/incremental/activities?handle=github&page%5Bsize%5D=3&updated_at_after=2018-12-04T15:38:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43c2474e161dc0a7ab2238d7f97dbe97"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"activity-bug-resolved","id":"3785132","attributes":{"report_id":"458543","message":"Sent
        it.","created_at":"2018-12-07T11:06:48.426Z","updated_at":"2018-12-07T11:06:48.426Z","internal":false},"relationships":{"actor":{"data":{"id":"37","type":"user","attributes":{"username":"martijn","name":"Martijn
        Russchen","disabled":false,"created_at":"2013-08-05T18:55:33.797Z","profile_picture":{"62x62":"https://profile-photos.hackerone-user-content.com/000/000/037/466f9408a5948826de482fa0e609f6c30d135cca_small.jpg?1447264787","82x82":"https://profile-photos.hackerone-user-content.com/000/000/037/63c86d306b217f68ed4e6f1323fd08daf0001f01_medium.jpg?1447264787","110x110":"https://profile-photos.hackerone-user-content.com/000/000/037/f701c89fed5cd2b0acd5a537e97441206b37fc9d_large.jpg?1447264787","260x260":"https://profile-photos.hackerone-user-content.com/000/000/037/57bb7caf22083897361517f33c4e910523ec4901_xtralarge.jpg?1447264787"},"signal":-2.0,"impact":null,"reputation":94,"bio":"","website":null,"location":"Groningen,
        The Netherlands"}}}}},{"type":"activity-reference-id-added","id":"3785085","attributes":{"report_id":"458533","message":"","created_at":"2018-12-07T12:26:47.271Z","updated_at":"2018-12-07T12:26:47.271Z","internal":true,"reference":"T1722","reference_url":"https://hackerone-jira.atlassian.net/browse/T1722"},"relationships":{"actor":{"data":{"id":"37","type":"user","attributes":{"username":"martijn","name":"Martijn
        Russchen","disabled":false,"created_at":"2013-08-05T18:55:33.797Z","profile_picture":{"62x62":"https://profile-photos.hackerone-user-content.com/000/000/037/466f9408a5948826de482fa0e609f6c30d135cca_small.jpg?1447264787","82x82":"https://profile-photos.hackerone-user-content.com/000/000/037/63c86d306b217f68ed4e6f1323fd08daf0001f0[...]
- request:
    method: get
    uri: https://api.hackerone.com/v1/incremental/activities?handle=github&page%5Bsize%5D=3&updated_at_after=2019-01-13T17:46:48.426Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d2f0d36c731b53591b43c36c532db5d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"max_updated_at":null},"links":{}}'
  recorded_at: Fri, 07 Dec 2018 12:52:44 GMT
recorded_with: VCR 3.0.3
