---
http_interactions:
- request:
    method: post
    uri: https://api.hackerone.com/v1/reports/200/severities
    body:
      encoding: UTF-8
      string: '{"data":{"type":"severity","attributes":{"rating":"high"}}}'
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30c2790e73edc770a9ed3fea69f0e8ea"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"668494","type":"severity","attributes":{"rating":"high","author_type":"Team","user_id":983615,"created_at":"2020-03-23T22:11:50.360Z"}}}'
  recorded_at: Mon, 23 Mar 2020 22:11:50 GMT
recorded_with: VCR 5.1.0
