---
http_interactions:
- request:
    method: put
    uri: https://api.hackerone.com/v1/programs/18969/policy
    body:
      encoding: UTF-8
      string: '{"data":{"type":"program-policy","attributes":{"policy":"Hello World,
        updating policy"}}}'
    headers:
      Authorization:
      - Basic NOPE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"350f99241c904a842cf99ff4f20f5abb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"18969","type":"program","attributes":{"handle":"github","policy":"Hello
        World, updating policy","created_at":"2016-04-15T17:10:31.261Z","updated_at":"2020-03-09T20:21:51.983Z"}}}'
  recorded_at: Mon, 09 Mar 2020 20:21:52 GMT
recorded_with: VCR 5.1.0
